.navbar {
    z-index: 99;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 2rem;
}

* {
    box-sizing: border-box;
}

.webflow-native-navbar {
    z-index: 5;
    box-shadow: none;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    cursor: pointer;
    background-color: #f0f0f0cc;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    display: flex;
}

.w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
}

.w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.navbar-outer {
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: .2rem;
    display: flex;
}

.navbar-inner {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.navbar-logo-div.w--current {
    cursor: pointer;
    align-items: center;
}

.navbar-logo-div {
    justify-content: center;
    display: flex;
}

.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

a {
    background-color: #0000;
}

.logo {
    object-fit: contain;
    width: 5rem;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav-menu-wrapper {
    display: flex;
}

.w-nav-menu {
    float: right;
    position: relative;
}

nav {
    unicode-bidi: isolate;
}

.nav-menu-right {
    z-index: 2;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    position: relative;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.nav-item {
    display: flex;
    position: relative;
}

.nav-link {
    grid-column-gap: .3rem;
    grid-row-gap: .3rem;
    color: var(--black);
    cursor: pointer;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-left: .1rem;
    margin-right: .1rem;
    padding: .8rem 1.2rem;
    font-family: Inter Tight, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    transition: all .2s;
    display: flex;
    position: relative;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.copytext.is-15px {
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}

.copytext {
    color: var(--text);
    letter-spacing: 0;
    margin-bottom: 0;
    font-family: Inter Tight, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.nav-link-icon {
    object-fit: contain;
    width: .8rem;
    margin-top: 1px;
}

element.style {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.dropdown {
    background-color: #f2f2f2;
    border-radius: 16px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 14.5rem;
    padding: .5rem 1rem;
    display: none;
    position: absolute;
    inset: 4rem 0% 0% -3rem;
}

.nav-link.in-drop-down {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.nav-item.is-btn.is-demo {
    margin-right: 0;
}

.nav-item.is-btn {
    margin-left: .5rem;
    margin-right: .5rem;
}

.primary-btn {
    grid-column-gap: .3rem;
    grid-row-gap: .3rem;
    letter-spacing: -.03rem;
    background-color: #d5d5d5;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: .7rem 1.5rem .55rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    overflow: visible;
}

.btn-txt-container {
    z-index: 5;
    height: 1.4rem;
    position: relative;
    overflow: hidden;
}

.btn-txt {
    color: var(--black);
    text-align: center;
    letter-spacing: 0;
    font-family: Inter Tight, sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.primary-btn.with-img-bg, .primary-btn.is-black {
    background-color: var(--black);
}

.btn-txt.is-white {
    color: var(--white);
}

.is-white {
    color: var(--white);
}

.w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}

.w-nav:after {
    clear: both;
}

.dropdown-closing-trigger {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    inset: 0%;
}