{% extends "layout.html" %}
{% block content %}
    {% if name == "finish" %}
        <div class="row">
            <div class="col-md-9" style="padding: 10px 70px 10px 130px;">
                <style>
                    * {
                        box-sizing: border-box;
                        outline: none;
                        font-family: -apple-technique, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
                    }
                </style>
                <h1>Essay grading results</h1>
                <div class="image-section"><img src="/static/finalblue.jpeg" alt="Benchmark Education Solutions logo"></div>
                <article class="jsx-3307320108 page-text__essay">
                    <div class="jsx-3307320108 page-text__question">
                        <div class="jsx-3594441866 h4">{{topic}}</div>
                    </div>
                    <div class="jsx-3307320108 page-text__text">
                        <span class="jsx-242105113 t18 ">
                            <div contenteditable="false" spellcheck="false" data-gramm-editor="false" class="jsx-319668748 content-editable undefined">{{essay|safe}}</div>
                        </span>
                        <div class="jsx-3307320108 create-date">
                            <span class="jsx-3307320108">Submitted by {{submitted_by}}</span>
                            <time class="jsx-3307320108">{{current_date}}</time>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-3">
                <aside class="sidebar" style="place-items: right;">
                    <div class="sidebar-comments">
                        {% for one in corrected_words %}
                            {{one|safe}}
                        {% endfor %}
                    </div>
                    <div class="jsx-2993038294 highlight-legends">
                        <div class="jsx-2993038294 highlight-legends__item highlight-legends__item_linkingwords">
                            <span class="jsx-2993038294 highlight-legends__item-counter">{{linking_words_count}}</span>
                            <div class="jsx-2993038294">
                                <div class="jsx-2993038294 highlight-legends__item-name">Linking words</div>
                                <div class="jsx-2993038294 highlight-legends__item-dscr">meeting the goal of 7 or more</div>
                            </div>
                        </div>
                        <div class="jsx-2993038294 highlight-legends__item highlight-legends__item_repeatedwords">
                            <span class="jsx-2993038294 highlight-legends__item-counter">{{repetitive_words_count}}</span>
                            <div class="jsx-2993038294">
                                <div class="jsx-2993038294 highlight-legends__item-name">Word repetition</div>
                                <div class="jsx-2993038294 highlight-legends__item-dscr">meeting the goal of 3 or fewer</div>
                            </div>
                        </div>
                        <div class="jsx-2993038294 highlight-legends__item highlight-legends__item_mistake">
                            <span class="jsx-2993038294 highlight-legends__item-counter">{{grammar_mistakes_count}}</span>
                            <div class="jsx-2993038294">
                                <div class="jsx-2993038294 highlight-legends__item-name">Grammar mistakes</div>
                            </div>
                        </div>
                        <div class="jsx-2993038294 highlight-legends__item highlight-legends__item_unnecessary">
                            <span class="jsx-2993038294 highlight-legends__item-counter">{{unnecessary_words_count}}</span>
                            <div class="jsx-2993038294">
                                <div class="jsx-2993038294 highlight-legends__item-name">Unnecessary words</div>
                            </div>
                        </div>
                    </div>
                    <div class="jsx-2802957637 page-draft-text-analyzer page-draft-text-analyzer_active">
                        <div class="jsx-2802957637 page-draft-text-analyzer__section-container page-draft-text-analyzer__stats">
                            <div class="jsx-2802957637">
                                <span class="jsx-2802957637">{{paragraphs_count}}</span> paragraphs
                            </div>
                            <div class="jsx-2802957637">
                                <span class="jsx-2802957637">{{words_count}}</span> words
                            </div>
                        </div>
                        <div class="jsx-2802957637 page-draft-text-analyzer__section-container">
                            <div class="jsx-2802957637 page-draft-text-analyzer__band">
                                <div class="jsx-3790368807 container">
                                    <h1 class="jsx-3521695127 h1 " style="font-weight: 900;">
                                        <div class="jsx-918815549 root">
                                            <div class="jsx-918815549 number-container">
                                                <span class="jsx-918815549">{{band_score}}</span>
                                            </div>
                                        </div>
                                    </h1>
                                    <p class="jsx-3790368807 container__text">Overall Band Score</p>
                                    <span color="#AAAAAA" class="jsx-2419732110 caps"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    {% elif name == "wait" %}
        <div class="row">
            <div class="col-md-12" style="padding: 0px 0px 0px 120px;">
                <h1 class="text-center">Essay Grading</h1>
                <p>Processing the submitted text, please wait... <div class="loader"></div></p>
                <meta http-equiv="refresh" content="0; url=https://benchmark-summary-report-eae227664887.herokuapp.com/grading/processing"/>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12" style="padding: 0px 0px 0px 130px;">
                <h1 class="text-center">Essay Grading</h1><br>
                <form action="/grading/queue" method="get">
                    <h2>Paste your topic and essay text:</h2>
                    <textarea type="text" name="topic" rows="4", cols="100" placeholder="Your topic:"></textarea><br><br>
                    <textarea type="text" name="essay" rows="10", cols="100" placeholder="Your essay:"></textarea><br><br>
                    <input type="text" name="submitted_by" placeholder="Your name: "><br><br>
                    <input type="submit" class="button2" value="Submit">
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}