{% extends "layout.html" %}
{% block content %}
    {% if name == "finish" %}
        <h1>Essay Grading</h1>
        <div>
            {{ result|safe }}
        </div>
    {% elif name == "wait" %}
        <h1>Essay Grading</h1>
        <h1>Processing the submitted text, please wait...</h1>
        <meta http-equiv="refresh" content="0; url=https://benchmark-summary-report-eae227664887.herokuapp.com/grading/processing"/>
    {% else %}
        <h1>Essay Grading</h1>
        <p1>Paste your essay text here:</p1>
        <form action="/grading/queue" method="get">
            <input type="text" placeholder="Essay text:" name="text">
            <input type="submit" class="button2" value="Submit">
        </form>
    {% endif %}
{% endblock content %}