{% extends "layout.html" %}
{% block content %}
    <h1>Logs History</h1>
    <p1>List of all available Summary Reports and Transcriptions:</p1>
    <br><br>
    <form action="/history" method="GET">
        <label for="Logs">Logs:</label>
        <select name="Logs" id="logs_dropdown">
            {% for log in logs %}
                <option value="{{ log }}">{{summary_report}}</option>
                <option value="{{ log }}">{{transcription}}</option>
            {% endfor %}
        </select>
    </form>
{% endblock content %}