{% extends "layout.html" %}
{% block content %}
    <script>
        function handleFormSubmission(event){
            const successMessage = document.getElementById('success-message');
            successMessage.style.display = 'block';
        }
    </script>
    <div class="row">
        <div class="col-lg-12">
            <div class="container text-center">
                {% if log == "summary_report" %}
                    <h1>Summary report logs</h1>

                    <!--Sorting button-->
                    <div class="sort_dropdown" style="float: left;">
                        <button type="button" class="button2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort by: # Low-High
                        </button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id#</th>
                                <th>Date</th>
                                <th>URL</th>
                                <th>Teacher</th>
                                <th>Summary</th>
                                <th>Transcript</th>
                                <th>Send to</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for one in reports %}
                            {% set id = one["id"] %}
                            {% set url = one["url"] %}
                            <tbody>
                                <tr>
                                    <td>#{{id}}</td>
                                    <td>{{one["date"]}}</td>
                                    {% if url != None %}
                                        <td><a href="{{ url_for('redirect_to', url=url) }}" target="_blank">Dropbox Link</a></td>
                                    {% else %}
                                        <td>Dropbox Link</td>
                                    {% endif %}
                                    <td>{{one["teacher"]}}</td>
                                    <td><a href="{{ url_for('logs_download', id=id, name='Summary report.html') }}" target="_blank">Summary</a></td>
                                    <td><a href="{{ url_for('logs_download', id=id, name='Transcription.odt') }}">Transcript</a></td>
                                    <form action="/email_to" onsubmit="handleFormSubmission(event)" method="get">
                                        <td><input type="text" name="email" placeholder="Email address: " required></td>
                                        <input type="hidden" name="id" value="{{ id }}">
                                        <td><input type="submit" class="button2" value="Send"></td>
                                    </form>
                                    <!-- Success message -->
                                    <div id="success-message" style="display: none; color: green;">
                                        Email has been sent successfully!
                                    </div>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                {% elif log == "essay_grading" %}
                    <form action="/summary/log">
                        <input type="submit" value="Summary Report Logs" class="button2">
                    </form>
                    <p1>List of all available Essay Gradings:</p1>
                    {% for id in ids %}
                        <label for="Logs">Log {{id}}:</label>
                            <ul>
                                <li><a href="{{ url_for('view_logs', id=id)}}">Essay Grading</a></li>
                            </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}