{% extends "layout.html" %}
{% block content %}
    <h1>Logs History</h1>
    <form action="/grading/log">
        <input type="submit" value="Essay Logs" class="button2">
    </form>
    <br>
    {% if log == "summary_report" %}
        <p1>List of all available Summary Reports and Transcriptions:</p1>
        {% for id in ids %}
            <label for="Logs">Log {{id}}:</label>
                <ul>
                    <li><a href="{{ url_for('logs_download', id=id, name='Summary report.odt')}}">Summary report.odt</a></li>
                    <li><a href="{{ url_for('logs_download', id=id, name='Transcription.odt')}}">Transcription.odt</a></li>
                    <li><a href="{{ url_for('logs_download', id=id, name='Summary report.html')}}">Summary report.html</a></li>
                </ul>
        {% endfor %}
    {% elif log == "essay_grading" %}
        <p1>List of all available Essay Gradings:</p1>
        {% for id in ids %}
            <label for="Logs">Log {{id}}:</label>
                <ul>
                    <li><a href="{{ url_for('view_logs', id=id)}}">Essay Grading</a></li>
                </ul>
        {% endfor %}
    {% endif %}
{% endblock content %}