{% extends "layout.html" %}
{% block content %}
    {% if name == "start" %}
        <h2>Please complete Dropbox authorization to continue: </h2>
        <form action="/authorize" method="get">
            <input type="submit" class="button2" value="Authorize">
        </form>
    {% elif name == "choice" %}
        <h2>Choose prompt of the GPT model for the summary report:</h2>
        <form action="/choice" method="get">
            <input type="submit" value="Default GPT Prompt" class="button2" name="choice">
            <input type="submit" value="Custom GPT Prompt" class="button2" name="choice">
        </form>
    {% elif name == "prompt" %}
        <h2>Specify your custom prompt: </h2>
        <form action="/default" method="get">
            <textarea type="text" name="prompt" size="50"></textarea>
            <input type="submit" class="button2" value="Submit"><br>
            Default prompt example:{{default_prompt}}
        </form>
    {% elif name == "link" %}
        <h2>Prompt selected.</h2>
        <form action="/processing" method="get">
            <input type="text" name="link" placeholder="Dropbox video link:" size="40">
            <br><br>
            <input type="text" name="date" placeholder="Date(optional):" size="30">
            <br><br>
            <input type="text" name="teacher" placeholder="Teacher's name(optional):" size="20">
            <br><br>
            <input type="submit" class="button2" value="Submit">
        </form>
    {% endif %}
{% endblock content %}