{% extends "layout.html" %}
{% block content %}
    <div class="container text-center mt-5">
        {% if name == "authorize" %}
            <h2>Please complete Dropbox authorization to continue: </h2>
            <form action="/authorize" method="get">
                <input type="submit" class="button2" value="Authorize">
            </form>
        {% elif name == "choice" %}
            <h2>Choose prompt of the GPT model for the summary report:</h2>
            <form action="/choice" method="get">
                <input type="submit" value="Default GPT Prompt" class="button2" name="choice">
                <input type="submit" value="Custom GPT Prompt" class="button2" name="choice">
            </form>
        {% elif name == "password" %}
            <h2>Provide secret password to access the Custom Prompt function: </h2>
            {% if value == "fail" %}
                <p style="color: red;">Wrong password!</p>
            {% endif %}
            <form action="/own" method="get">
                <br>
                <input type="text" name="password" placeholder="Password:"><br><br>
                <input type="submit" class="button2" value="Verify">
            </form>
        {% elif name == "prompt" %}
            <h2>Specify your custom prompt: </h2>
            <form action="/custom_prompt" method="get">
                <textarea type="text" name="prompt" rows="8", cols="80" placeholder="Custom GPT prompt:"></textarea><br><br>
                <input type="submit" class="button2" value="Submit"><br><br>
                Default GPT prompt example:<br>
                {{default_prompt}}
                <br><br>
            </form>
        {% elif name == "link" %}
            <form action="/processing" method="get">
                <div class="form">
                    <h1>Provide data for the following fields:</h1>
                    <br><br>
                    <input type="text" name="link" placeholder="Dropbox video link:" size="40" required>
                    <br><br>
                    <input type="text" name="date" placeholder="Date(optional):" size="30">
                    <br><br>
                    <input type="text" name="teacher" placeholder="Teacher's name:" size="20">
                    <br><br>
                    <input type="text" name="client_email" placeholder="Client's email:" size="20">
                    <br><br>
                    <input type="text" name="client" placeholder="Client's name:" size="20">
                    <br><br>
                    <input type="submit" class="button2" value="Submit">
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}