<table>
    <thead>
    <tr><th>Areas that you are doing well</th><th>Areas that you need to improve</th></tr>
    </thead>
    <tbody>
    <tr><td>Good rapport and empathy</td><td>Refine grammar in questions</td></tr>
    <tr><td>Clear information sharing</td><td>Pronunciation of V and W sounds</td></tr>
    <tr><td>Structured responses</td><td>Checking patient or relative understanding</td></tr>
    <tr><td>Engagement with the patient</td><td>Providing structured and dynamic responses</td></tr>
    </tbody>
</table>